---
<context>
{{context_text}}
</context>
---
Just provide a concise answer to the following questions based on the context above.:
- What is the capital of France?

---
Some non-important vars:
  root_default_prompt_param_static_01: {{root_default_prompt_param_static_01}}
