---
<context>
{{context_text}}
</context>
---
Create a technical refinement document for software developers following the "directives" provided below:
<directives>
- DO: The document should cover all necessary technical requirements for implementing the given User Story under the "context" tag.
- DO: Cover the architectural plans needed for implementing the feature
- DO: Cover data layer, including database operations and requirements
- DO: Cover back end, including data structuring and all necessary methods for controllers and services
- DO: Cover API layer, detailing all necessary routes, inputs and outputs
- DO: Cover front end and UI implications
- DO: Focus only on technical refinements
- DO NOT: Include any business validation needs
- DO: Write the output following the "output_template" provided.
</directives>
